<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Aleksandar Diklić" />
  <meta name="viewport" content="width=device-width">
  <title>UI Element: Find in page - Angular</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="./application.css">
</head>
<body ng-app="main" ng-controller="mainCtrl">
  <header class="header header_fixed">
    <div class="container">
      <div class="input-group">
        <input type="text" class="form-control header__search" ng-model="keyword" ng-trim="false" placeholder="Search" ng-enter="nextMatch()" ng-shift-enter="previousMatch()" aria-describedby="search" autofocus="true">
        <div class="input-group-addon header__search-matches" id="search">
          <span ng-show="keyword">{{matchIndex}} of {{numberOfMatches}}</span>
        </div>
        <div class="input-group-btn">
          <button
            type="button"
            class="btn btn-default"
            aria-label="previous"
            ng-disabled="!keyword"
            ng-click="previousMatch()">⬆</button>
          <button
            type="button"
            class="btn btn-default"
            aria-label="next"
            ng-disabled="!keyword"
            ng-click="nextMatch()">⬇</button>
        </div>
      </div>
    </div>
  </header>

  <main class="container main"
    highlight="demoText"
    keyword="keyword"
    number-of-matches="numberOfMatches"
    current-match-index="matchIndex">
  </main>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="./application.js"></script>
</body>
</html>
